[submodule "BMHeroSyms"]
	path = BMHeroSyms
	url = https://github.com/RevoSucks/BMHeroSyms.git
[submodule "lib/N64ModernRuntime"]
	path = lib/N64ModernRuntime
	url = https://github.com/N64Recomp/N64ModernRuntime.git
[submodule "lib/RecompFrontend"]
	path = lib/RecompFrontend
	url = https://github.com/N64Recomp/RecompFrontend.git
[submodule "lib/bmhero"]
	path = lib/bmhero
	url = https://github.com/Bomberhackers/bmhero.git
[submodule "lib/rt64"]
	path = lib/rt64
	url = https://github.com/ogdanimal/rt64.git
